:root
{
  --tab-bg: #222222 !important;
                /* tab bg */

  --url-bg: #1E1A1A !important;
     /* nav bar and selected tab */

  --browser-bg: #383A3B !important;
     /* url bg & hover bg */

  --main-text: #93a1a1 !important;
      /* reg text */

  --emphasis-text: #CB4B16 !important;
        /* emphasis */

  --third-text: #6c6c6c !important;
       /* dimmed */;
}  


              /* show/hide close button on tabs */
.tab-close-button.close-icon {
display: none !important;       
/* opacity: 0.6 !important; */    
}

                   /* fix white bg when opening new tabs -- to fix*/
browser, browser.display.background_color, tabbrowser tabpanels { 
    background-color: var(--url-bg) !important; 
}

browser { 
  background-color: var(--browser-bg) !important;
}
tab[selected="true"] {
   color:var(--emphasis-text)  !important;
}
.tabbrowser-tab:not([selected="true"]) {
    color:var(--third-text) !important;
}
#navigator-toolbox:after {
    height: 0 !important;
}

#nav-bar,
#main-menubar, 
#toolbar-menubar, 
#menubar-items,
#TabsToolbar,
#PersonalToolbar,
#VerticalToolbar
#vertical-toolbar,
#addon-bar{
  background: var(--browser-bg) !important;
  border: 0px !important;
  height: 30px !important;  /* don't go lower than 30 */
}

.toolbarbutton-text {
color: var(--main-text) !important;
}
findbar {
    -moz-appearance: none !important;
    background-color: var(--browser-bg) !important;
}
#bookmarks-view,
#historyTree,
#history-panel,
#sidebar-header {
    background-color: var(--browser-bg) !important;
    color: var(--main-text) !important;
}
menuitem,
menu {
    background-color: var(--browser-bg) !important;
    color: var(--main-text) !important;
    border: none !important;
}
menuseparator {
    display:none !important;
}
menupopup {
    background-color: var(--browser-bg) !important; 
    -moz-appearance: none!important; 
    border:1px solid #000 !important; 
}
menupopup > menu:hover {
    background-color: var(--browser-bg) !important;
}

menuitem:hover {
    background-color: #1a1a1a !important;
    color: #fff !important;
}
arrowscrollbox {
    background-color: var(--browser-bg)!important;
    color: #ccc!important;
}
.statuspanel-label {
    color: #ccc !important;
    background: var(--browser-bg) !important;
    border: none !important;
}
#main-menubar, #nav-bar {
    box-shadow: none !important;
}
.tab-background .tab-background-middle[selected=true]{
    background: #1D1E2A !important;
}
.tab-background-start[selected=true]::before{
    clip-path: url(chrome://browser/content/browser.xul#tab-curve-clip-path-start)!important;
}
.tab-background-end[selected=true]::before{
    clip-path: url(chrome://browser/content/browser.xul#tab-curve-clip-path-end)!important;
}
.tab-background .tab-background-start[selected=true]::before,.tab-background  .tab-background-end[selected=true]::before{
    background: #1D1E2A !important;
}

/* AGENT_SHEET */

/*remove incremental scroll buttons located at scrollbar ends.  important note: only partially zero out height/width dimensions to prevent entire scrollbar from disappearing (ie, scrollbarbutton collapse results in scrollbar collapse) */
scrollbar[orient='vertical'] > scrollbarbutton {
    color:#000 !important; 
    background-color: var(--browser-bg) !important; 
    border:none !important;
}

scrollbar[orient='horizontal'] > scrollbarbutton {
    color:#000 !important; 
    background-color: var(--browser-bg) !important; 
    border:none !important;
}

/*boilerplate*/
scrollbar > slider, scrollbar > slider > thumb, scrollbar > scrollbarbutton{ 
    -moz-appearance: none !important; 
}
  
scrollbar > slider { 
    border-width: 0px;
    background-color: #1a1a1a; 
}

scrollbar > slider > thumb {  
    border-width: 0px;
    background-color: var(--browser-bg); 
}

scrollbar  {
-moz-appearance: none !important;
border: none !important;
}
